header{
    background-color: aqua;
    height: 10vh;
    display: flex;
    display: inline-block;
    justify-content:left;
    position: absolute;
}
.logo_header{
    height: 40px;
    width: 40px;
    position: relative;
    top: 13px;
}

.menu{
    background-color: rgb(8, 192, 57);
    height: 10vh;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    flex-direction:row;
    width: 100%;
    list-style: none;
    align-items: center;
    

}

/* ------------------------------------------------------------------ */
main{
    background-color: black;
    /* height: 80vh; */
}

.contenedor_padre{
    height: 80vh;
    background-color: brown;
    display: flex;
    flex-direction:row;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.flex_item{
    border: 1px solid rgb(236, 242, 121);
    background-color: blueviolet;
    text-align: center;
    height: 70px;
    flex-basis: 55px;
    
}



/* ------------------------------------------------------------------ */
.footer{
    background-color: aqua;
    height: 5vh;
    display: flex;

    
}